button {
  background: var(--color-primary);
  padding: 10px 24px;
  border: none;
  border-radius: var(--radius-sm);
  color: #fff;
  font-weight: 600;
  font-size: var(--font-size-sm);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background: #1d4ed8;
  }

  &:disabled {
    background: #cbd5e1;
    cursor: not-allowed;
  }
}




// button {
//   background: var(--color-primary-light);
//   padding: 10px 20px;
//   border: none;
//   border-radius: var(--radius-sm);
//   color: #fff;
//   font-weight: 600;
//   font-size: var(--font-size-sm);
//   cursor: pointer;
//   transition: background 0.2s ease;

//   &:hover {
//     background: var(--color-primary);
//   }

//   &:disabled {
//     background: #ccc;
//     cursor: not-allowed;
//   }
// }